$font-title: #707070;
$button-font:#D8CFCF;
$outer-border-color:#e7e7e7;
$create-button-color:#c8f3d9;


html,body{
    height: 100%;
    margin: 0;
    padding: 0;
   
}
.head-title {
    direction: rtl;
    margin-right: 2%;
    font-size: 50px;
    color: $font-title;
}

.user-info {
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);    
    position: relative;

}

.contain {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: solid $outer-border-color 1px;
    > div {
        padding: 10px;
    }
    position: relative;

}

.field {
    >div{
        display: inline-block;
        min-width: 250px;
    }
    direction: rtl;
    position: relative;
    display: block;
}
.input-field{
    input{
    width: 100%;
    height: 40px;
    padding:2px
}
}
.create-new-user {
    font-size: 30px;
    outline: none;
    background-color:$create-button-color;
    cursor: pointer;
    border: none;
    min-width: 200px;
    min-height: 50px;

}
.create-new-user:hover{
    background-color: darken($create-button-color,10%);
}