$newsElementWidth : 500px;
$labelWidth : 200px;

@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction ;
    align-items: center; 
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add_news_form {
    .title{
        font-size: 50px;
    }
    .center_items {
        @include flexbox(column);
        justify-content: center;
        width: 100%;
        padding-top: 10px;
    }
    .content_label_div{
        @include flexbox(row);
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .news_element {
        width: $newsElementWidth;
        height:25px;
    }
    .news {
        height: 300px;
        border: 0.5px solid grey;
        .news_body{
            height: 258px;
        }
    }
    .description{
        height: 50px;
        resize: none;
    }
    .choice {
        height: 10px;
        width : 10px;
        padding-right: 5px;
    }
    .outer_choice_div  {
        justify-content: center;
        .inner_choice_div{
            @include flexbox(row);
            justify-content: space-between;
        }
    }
    .category {
        height: 30px;
        width: calc(#{$labelWidth} + #{$newsElementWidth} -96px);
    }
    .date{
        min-width:90px;
        margin-left: 10px;
        .checkbox{
            padding-right: 10px;
        }
    }
    label {
        width:200px;
        height:28px;
        padding: 3px;
        text-align: center;
        font-weight: 300px;
        font-size: 20px;
    }
    .button_div{
        @include flexbox(row);
        justify-content: flex-end;
        .button {
            justify-content: flex-end;
            width: 200px;
            height: 50px;
            background-color: #B5AEAE;
            border-style: none;
            font-size: 30px;
            cursor: pointer;
            &:hover{
                background: darken(#B5AEAE, 10%)
            }
        }
    }

}

